<!DOCTYPE html>
<html>

<head>
	<title>About</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/pillars.css">
	<style>
	#more1 {display: none;}
	#more2 {display: none;}
	#more3 {display: none;}
	#more4 {display: none;}
	#more5 {display: none;}
	</style>

	<!--<script type="text/javascript" src="../static/js/about.js"></script>-->

</head>



<body>

{% extends "navbar.html" %}
{% block content %}

	<div id = "header">About Us</div>






	<div class = "cardGrid">



		<div class="card w-25" id = "brandon_ford">
			<div class = "cropImage">
		 		<img src = "../static/images/jim.gif" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Brandon Ford</h5>
		    	<p class="card-text">
					About me...
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: </li>
				<li class="list-group-item">No. of Commits: </li>
				<li class="list-group-item">No. of Issues: </li>
				<li class="list-group-item">No. of Unit Tests: </li>
			</ul>
		  	<div class="card-footer text-muted">Role: </div>
		</div>



		<div class="card w-25" id = "william_kwon">
			<div class = "cropImage">
		 		<img src = "../static/images/dwight.gif" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">William Kwon</h5>
		    	<p class="card-text">
					About me...
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: </li>
				<li class="list-group-item">No. of Commits: </li>
				<li class="list-group-item">No. of Issues: </li>
				<li class="list-group-item">No. of Unit Tests: </li>
			</ul>
		  	<div class="card-footer text-muted">Role: </div>
		</div>



		<div class="card w-25" id = "madalyn_marabella">
			<div class = "cropImage">
		 		<img src = "../static/images/pam.gif" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Madalyn Marabella</h5>
		    	<p class="card-text">
					About me...
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: </li>
				<li class="list-group-item">No. of Commits: </li>
				<li class="list-group-item">No. of Issues: </li>
				<li class="list-group-item">No. of Unit Tests: </li>
			</ul>
		  	<div class="card-footer text-muted">Role: </div>
		</div>




		<div class="card w-25" id = "alejandro_palacios">
			<div class = "cropImage">
		 		<img src = "../static/images/michael.gif" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Alejandro Palacios</h5>
		    	<p class="card-text">
					About me...
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: </li>
				<li class="list-group-item">No. of Commits: </li>
				<li class="list-group-item">No. of Issues: </li>
				<li class="list-group-item">No. of Unit Tests: </li>
			</ul>
		  	<div class="card-footer text-muted">Role: </div>
		</div>


		<div class="card w-25" id = "noah_placke">
			<div class = "cropImage">
		 		<img src = "../static/images/noah.jpg" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Noah Placke</h5>
		    	<p class="card-text">
					Third year Economics major.
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: Technical Report - GCP Maintainer</li>
				<li class="list-group-item">No. of Commits: </li>
				<li class="list-group-item">No. of Issues: </li>
				<li class="list-group-item">No. of Unit Tests: </li>
			</ul>
		  	<div class="card-footer text-muted">Role: </div>
		</div>


		<div class="card w-25 bg-dark text-white" id = "everyone">
			<div class = "cropImage">
		 		<img src = "../static/images/temp.jpeg" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Total</h5>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-dark">Total no. of Commits: </li>
				<li class="list-group-item bg-dark">Total no. of Issues: </li>
				<li class="list-group-item bg-dark">Total no. of Unit Tests: </li>
				<li class="list-group-item bg-dark"><a href="#" class="card-link">GitLab Issue Tracker</a></li>
				<li class="list-group-item bg-dark"><a href="#" class="card-link">GitLab Repo</a></li>
				<li class="list-group-item bg-dark"><a href="#" class="card-link">GitLab Wiki</a></li>
			</ul>
		</div>



	</div>


<a href="{{url_for('test')}}">Link to the tests</a>



<script>
function more(elem) {
  var x = elem.id
  const dotvals = ["dots1", "dots2", "dots3", "dots4", "dots5"]
  const morevals = ["more1", "more2", "more3", "more4", "more5"]
  var dots = document.getElementById(dotvals[x]);
  var moreText = document.getElementById(morevals[x]);
  var btnText = elem;

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read More"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read Less"; 
    moreText.style.display = "inline";
  }
}
</script>

{% endblock %}
</body>
</html>

