<!DOCTYPE html>
<html>

<head>
	<title>Companies</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/pillars.css">


</head>

<body>

{% extends "navbar.html" %}
{% block content %}



	<div id = "header">Companies</div>


  <div id = "orderingForm">
    Choose order of companies:
    <form class = "form-inline" action = "{{url_for('companies')}}">
      <div class = "form-group">
        <select class = "form-control field" name = "field">
            <option value = "">Select attribute</option>
            <option value = "name">Name</option>
            <option value = "description">Description</option>
            <option value = "country">Country</option>
        </select>
      </div>
      <div class = "form-group">
        <select class = "form-control direction" name = "direction">
            <option value = "">Select order</option>
            <option value = "asc">Ascending</option>
            <option value = "desc">Descending</option>

        </select>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>





	<div class = "cardGrid">

		<div class="card w-25" id = "nintendo">
			<div class = "cropImage">
		 		<img src = "../static/images/nintendo.jpg" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Nintendo</h5>
		    	<p class="card-text">
					Nintendo Co., Ltd. is a Japanese multinational consumer electronics and video game company headquartered in Kyoto. Nintendo is one of the world's largest video game companies by market capitalization, creating some of the best-known and top-selling video game franchises, such as Mario, The Legend of Zelda, and Pokémon. Founded on 23 September 1889 by Fusajiro Yamauchi, it originally produced handmade hanafuda playing cards. By 1963, the company had tried several small niche businesses, such as cab services and love hotels.
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Games Developed: <a href="{{url_for('games')}}#super_smash_bros">Super Smash Bros. Ultimate</a>, <a href="{{url_for('games')}}#breath_of_the_wild">The Legend of Zelda: Breath of the Wild</a>, <a href="{{url_for('games')}}#mario_kart_8_deluxe">Mario Kart 8 Deluxe</a>, <a href="{{url_for('games')}}#splatoon_2">Splatoon 2</a>, <a href="{{url_for('games')}}#super_mario_odyssey">Super Mario Odyssey</a></li>
				<li class="list-group-item">Main Genres: <a href="{{url_for('genres')}}#platformer">Platformer</a></li>
			</ul>
		  	<div class="card-footer text-muted">Subgenres: </div>
		</div>

    {% if companies == [] %}
      <p>There are no companies</p>
    {% else %}
      {% for company in companies %}
        <div class="card w-25" id = "{{company.company_id}}">
          <div class = "cropImage">
            <img src = "../static/images/{{company.logo}}.jpg" class = "card-img-top">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{company.name}}</h5>
              <p class="card-text">{{company.description}}</p>
            </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="card-title">Games Developed</h5>
              {% for game in company.games %}
                <a href="{{url_for('games')}}#{{game.game_id}}">{{game.name}}{{", " if not loop.last}}</a>
              {% endfor %}
            </li>
            <li class="list-group-item"><h5>Country Code: </h5>{{company.country}}</li>
          </ul>
        </div>
      {% endfor %}
		{% endif %}
	</div>

  <div class="citation">
    <p>Content for this page from Wikipedia</p>
  </div>
{% endblock %}
</body>

</html>
