<!DOCTYPE html>
<html>

<head>
	<title>Companies</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/pillars.css">


</head>

<body>

{% extends "navbar.html" %}
{% block content %}



	<div id = "header">Companies</div>


  <div id = "orderingForm">
    Choose order of companies:
    <form class = "form-inline" action = "{{url_for('companies')}}">
      <div class = "form-group">
        <select class = "form-control field" name = "field">
            <option value = "">Select attribute</option>
            <option value = "name">Name</option>
            <option value = "description">Description</option>
            <option value = "games">Games Developed</option>
            <option value = "country">Country</option>
            <option value = "date_founded">Date Founded</option>
        </select>
      </div>
      <div class = "form-group">
        <select class = "form-control direction" name = "direction">
            <option value = "">Select order</option>
            <option value = "asc">Ascending</option>
            <option value = "desc">Descending</option>

        </select>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>





	<div class = "cardGrid">

    {% if companies == [] %}
      <p>There are no companies</p>
    {% else %}
      {% for company in companies %}
        <div class="card w-25" id = "{{company.company_id}}">
          <div class = "cropImage">
            {% if company.logo > 0 %}
              <img src = "../static/images/{{company.logo}}.jpg" class = "card-img-top">
            {% else %}
              <img src = "../static/images/unavailable.jpg" class = "card-img-top">
            {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{company.name}}</h5>
              <p class="card-text">{{company.description}}</p>
            </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Games Developed: {% for game in company.games %}
                <a href="{{url_for('games')}}#{{game.game_id}}">{{game.name}}{{", " if not loop.last}}</a>
              {% endfor %}
            </li>
            <li class="list-group-item">Country Code: {{company.country}}</li>
            <li class="list-group-item">Date Founded: {{company.date_founded}}</li>
          </ul>
        </div>
      {% endfor %}
		{% endif %}
	</div>

  <div class="citation">
    <p>Content for this page from Wikipedia</p>
  </div>
{% endblock %}
</body>

</html>
