<!DOCTYPE html>
<html>

<head>

	<title>Games</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/pillars.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- MDBootstrap Datatables  -->
    <link href="../static/css/addons/datatables.min.css" rel="stylesheet">

</head>

<body>

{% extends "navbar.html" %}
{% block content %}



	<div id = "header">Games</div>



	<table class = "table table-striped table-bordered table-sm" id="myTable" cellspacing="0" width="100%">
    <thead class="thead-light">
    <tr>
      <th class="th-sm">Name</th>
      <th class="th-sm">Summary</th>
      <th class="th-sm">Rating</th>
      <th class="th-sm">Genres</th>
      <th class="th-sm">Companies</th>
    </tr>
    </thead>
  {% if games == [] %}
    <p>No games exist</p>

  {% else %}
    {% for game in games %}
      <tr id={{game.game_id}}>
        <td><a href = "{{url_for('games')}}{{game.game_id}}">{{game.name}}</a></td>
        <td>{{game.summary}}</td>
        <td>{{game.rating}}</td>
        <td>
          {% for genre in game.genres %}
            <a href = "{{url_for('genres')}}#{{genre.genre_id}}">{{genre.name}}{{", " if not loop.last}}</a>
          {% endfor %}
        </td>
        <td>
          {% for company in game.companies %}
            <a href = "{{url_for('companies')}}#{{company.company_id}}">{{company.name}}{{", " if not loop.last}}</a>
          {% endfor %} 
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </table>




<footer class="page-footer font-small bg-light pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class = "col-md-2">
        </div>

        <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">Pillars</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{url_for('games')}}">Games</a>
              </li>
              <li>
                <a href="{{url_for('genres')}}">Genres</a>
              </li>
              <li>
                <a href="{{url_for('companies')}}">Companies</a>
              </li>
            </ul>
          </div>

          <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">About us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{url_for('about')}}#brandon_ford">Brandon Ford</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#william_kwon">William Kwon</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#madalyn_marabella">Madalyn Marabella</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#alejandro_palacios">Alejandro Palacios</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#noah_placke">Noah Placke</a>
              </li>
            </ul>
          </div>

        <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">Sources</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.igdb.com/discover">IGDB</a>
              </li>
              <li>
                <a href="https://www.wikipedia.org/">Wikipedia</a>
              </li>
              <li>
                <a href="https://www.gamespot.com/news/">Gamespot</a>
              </li>
            </ul>
        </div>

        <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">Tools</h5>
            <ul class="list-unstyled">
              <li>
                Python
              </li>
              <li>
                Flask
              </li>
              <li>
                PostgreSQL
              </li>
              <li>
                API System
              </li>
              <li>
                GitLab
              </li>
            </ul>
        </div>


      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Video Game Library
    </div>
  </footer>
 
<!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../static/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../static/js/mdb.min.js"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="../static/js/addons/datatables.min.js"></script>
  <script>
  $(document).ready(function () {
    $('#myTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
    });
  </script>
<!-- <script>
function search_func() {
  // Declare variables 
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
-->

  
{% endblock %}

</body>
</html>

