<!DOCTYPE html>
<html>

<head>

	<title>Games</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/pillars.css">

</head>

<body>

{% extends "navbar.html" %}
{% block content %}



	<div id = "header">Games</div>



  <div id = "orderingForm">
    Choose order of games:
    <form class = "form-inline" action = "{{url_for('games')}}">
      <div class = "form-group">
        <select class = "form-control field" name = "field">
            <option value = "">Select attribute</option>
            <option value = "name">Name</option>
            <option value = "summary">Summary</option>
            <option value = "genre">Genre</option>
            <option value = "company">Company</option>
            <option value = "rating">Rating</option>
        </select>
      </div>
      <div class = "form-group">
        <select class = "form-control direction" name = "direction">
            <option value = "">Select order</option>
            <option value = "asc">Ascending</option>
            <option value = "desc">Descending</option>

        </select>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>



	<table class = "table table-bordered table-hover" id="myTable">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Rating</th>
      <th>Genres</th>
      <th>Companies</th>
    </tr>
    </thead>
  {% if games == [] %}
    <p>No games exist</p>

  {% else %}
    {% for game in games %}
      <tr id={{game.game_id}}>
        <td>{{game.name}}</td>
        <td>{{game.summary}}</td>
        <td>{{game.rating}}</td>
        <td>
          {% for genre in game.genres %}
            <a href = "{{url_for('genres')}}#{{genre.genre_id}}">{{genre.name}}{{", " if not loop.last}}</a>
          {% endfor %}
        </td>
        <td>
          {% for company in game.companies %}
            <a href = "{{url_for('companies')}}#{{company.company_id}}">{{company.name}}{{", " if not loop.last}}</a>
          {% endfor %} 
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </table>



  <div class = "page-buttons">
    <form action = "{{url_for('games')}}">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-secondary" name = "offset" value = "1">1</button>
        <button type="submit" class="btn btn-secondary" name = "offset" value = "2">2</button>
        <button type="submit" class="btn btn-secondary" name = "offset" value = "3">3</button>
        <button type="submit" class="btn btn-secondary" name = "offset" value = "4">4</button>
      </div>
    </form>

  </div>








<footer class="page-footer font-small bg-light pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class = "col-md-2">
        </div>

        <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">Pillars</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{url_for('games')}}">Games</a>
              </li>
              <li>
                <a href="{{url_for('genres')}}">Genres</a>
              </li>
              <li>
                <a href="{{url_for('companies')}}">Companies</a>
              </li>
            </ul>
          </div>

          <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">About us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{url_for('about')}}#brandon_ford">Brandon Ford</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#william_kwon">William Kwon</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#madalyn_marabella">Madalyn Marabella</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#alejandro_palacios">Alejandro Palacios</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#noah_placke">Noah Placke</a>
              </li>
            </ul>
          </div>

        <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">Sources</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.igdb.com/discover">IGDB</a>
              </li>
              <li>
                <a href="https://www.wikipedia.org/">Wikipedia</a>
              </li>
              <li>
                <a href="https://www.gamespot.com/news/">Gamespot</a>
              </li>
            </ul>
        </div>

        <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">Tools</h5>
            <ul class="list-unstyled">
              <li>
                Python
              </li>
              <li>
                Flask
              </li>
              <li>
                PostgreSQL
              </li>
              <li>
                API System
              </li>
              <li>
                GitLab
              </li>
            </ul>
        </div>


      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Video Game Library
    </div>
  </footer>
  
<script>
function search_func() {
  // Declare variables 
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>

  
{% endblock %}

</body>
</html>


























