<!DOCTYPE html>
<html>

<head>
	<title>Home</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/index.css">

	<!--<script type="text/javascript" src="../static/js/index.js"></script>-->

</head>



<body>

{% extends "navbar.html" %}
{% block content %}



		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
		  <div class="carousel-inner">




		    <div class="carousel-item active">
				<video width="100%" muted autoplay loop playsinline>
				  <source src="./sources/surfsup.mp4" type="video/mp4">
				</video>
		    </div>




		    <div class="carousel-item">
				<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/269417656?title=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		    </div>

		    <div class="carousel-item">
		      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/274946677?title=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		    </div>
		    <div class="carousel-item">
		      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/255329732?title=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		    </div>
		    <div class="carousel-item">
		      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/264707386?title=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>



		

	<div id = "header"></div>

	<div class="row">
	  <div class="col col-8"><h3>News Feed (coming soon!)</h3></div>
	  <div class="col col-4"><h3>Twitter Feed (coming soon!)</h3></div>
	</div>
	<img class="d-block w-100" src="../static/images/splashpage.jpg" alt="Splash"">




{% endblock %}

</body>
</html>


























